div.primer_boton, div.segundo_boton, div.tercer_boton, div.cuarto_boton {
    background-color: #c9e6ec;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  
  div.primer_boton:hover, div.segundo_boton:hover, div.tercer_boton:hover, div.cuarto_boton:hover {
    background-color: #4f97aa;
  }

body{
    font-family: 'Gill Sans';
}

h3{
    font-style: italic;
    font-family:'Gill Sans';
}

div#principal {
    background-color:#4f97aa;
  
}
