div#chart_03 {
    border: 1px pixel black;
    margin-top: 20px;
}
h2 {
    color: rgb(56, 75, 127);
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;
}